
* {
    margin: 0;
    padding: 0;
}

body {
    color: #3d3a37;
    background-color: #eeeceb;
    font-family: Avenir, Verdana, sans-serif;
    font-size: 16px; 
    line-height: 150%;
}

h1, h2 {
    color: #e2764a;
    font-weight: normal;
}

h1 {
    font-size: 200%;
    /* text-shadow: 2px 2px blue; */
    margin-bottom: 5px;
}

h2 {
    font-size: 150%;
    margin: 40px 0px 5px; 
}

#contentBox {
    margin: 120px auto 0;    /* 120px margin on the top; auto on the left and right; 0 on the bottom */
    width: 80%;
    min-width: 700px;
    padding-bottom: 150px;
}

#contentBox li {    /* this will affect unordered and ordered list items */
    position: relative;
    left: 25px; 
}   

header, footer {
    background-color:#3d3a37;
}

header {
    height: 70px; 
    position: fixed; 
    top: 0;
    left: 0;
    width:100%;
    min-width: 875px; 
    z-index: 5;
}

footer {
    height: 60px;
    text-align: center;
}

footer li {
    margin: 20px;
}

#logo {
    padding: 10px;
    display: block;
}

#diamond {
    margin: 0 auto;
    display: block;
    position: relative; 
    top: -45px; 
}

header a, footer a {
    color: white;
    font-size: 90%;
    text-decoration: none; 
}

header a:hover {
    color:#e2764a;
}

nav {
    position: absolute;
    right: 0;
    bottom: 10px; 
    margin-right: 20px; 
}

nav li, footer li {
    display: inline-block;
}

header a {
    padding: 10px; 
}

.peoplePic {
    border: 1px solid #3d3a37;
    padding: 7px; 
    background-color: white; 
    float: right;
    margin-left: 20px; 
}

/* SCHEDULE SETTINGS */
td {
    background-color: white; 
    border: 1px solid #1f7097;
    padding: 5px;
}
th {
    background-color: #1f7097; 
    color: white; 
    padding: 5px; 
}

table {
    border: 1px solid #1f7097;
    border-collapse: collapse; 
    width: 50%;     /* These next couple lines make the table responsive */
    min-width: 400px; 
    max-width: 700px; 
    margin: 40px 40px 0;
}

table+p {
    margin-left: 40px;
    font-size: 90%;
    font-style: italic; 
}
/*END OF SCHEDULE SETTINGS */


/* RESOURCE SETTINGS */
.box {
    background-color: white;
    padding: 20px;
    margin: 20px 10px 0; /*Top/Bottom=20px, Left/Right = 20px */ 
    width: 80%; 
    min-width: 400px; 
    max-width: 700px; 
}

h3 {
    background-color: #8bc6b0;
    font-size: 110%;
    font-weight: normal; 
    border: 2px solid white; 
    padding: 5px 15px; 
    width: 300px; 
    position: relative; 
    top: 40px; 
    left: 25px; 
}

.box a {
    color: #3d3a37; 
    text-decoration: none;
}

.box a:hover {
    color: #e2764a;
}
/* END OF RESOURCE SETTINGS */


/* FORM SETTINGS */
form { 
    background-color: white; 
    width: 50%;     /* These next couple lines make the form responsive */
    min-width: 400px; 
    max-width: 700px; 
    margin: 40px; 
    padding: 20px; 
}

label {
    vertical-align: top;
    display: inline-block;
    width: 150px;   /* These line up the boxes with the label */
    text-align: right; 
    /* margin-right: 10px; 
    margin-bottom: 5px; */
    margin: 0 10px 5px 0; 
}

#submit {
    background-color: #e2764a;
    padding: 7px 14px; 
    color: white; 
    font-weight: bold; 
    border: none; 
    border-radius: 5px; 
    position: relative; 
    left: 165px; 
    margin-top: 10px; 
}
/* END OF FORM SETTINGS */


/* FAQ SETTINGS */
#questions h3 {
    background-color: #eeeceb; /* can also be background-color: transparent */
    border: none;
    width: 100%;
}

#questions a {
    color: #3d3a37; 
    text-decoration: none;
}
#questions a:hover {
    color: #e2764a;
}

.box h2 {
    margin-top: 0px;    /* What we added is overriding the other styles */
}
/* END OF FAQ SETTINGS */


/* INDEX PAGE SETTINGS */
#pictureBox {
    background-image: url(images/book.jpg);
    height: 400px; 
    background-repeat: no-repeat;
    background-size: cover; 
}

#indexText {
    width: 50%;
    float: left;
    padding: 0 5%;
}

#featureText {
    border-left: 1px solid #3d3a37;
    width: 25%;
    float: left; 
}

.clearfix::before, .clearfix::after {
    content: '';
    display: block; 
    clear: both; 
}
/* END INDEX PAGE SETTINGS */