body {
    color: #3d3a37;
    background-color: #eeeceb;  /* Might delete later because it overlaps with #contentBox styling */
    font-family: Avenir, Verdana, sans-serif;
    font-size: 16pt; 
}

h1, h2 {
    color: #e2764a;
    font-weight: normal;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

#contentBox {
    background-color: #eeeceb;
}

header, footer {
    background-color:#3d3a37;
}

header a, footer a {
    color: white;
    font-size: 90%;
    text-decoration: none; 
}

/* SCHEDULE SETTINGS */
td {
    background-color: white; 
    border: 1px solid #1f7097;
    padding: 5px;
}
th {
    background-color: #1f7097; 
    color: white; 
    padding: 5px; 
}

table {
    border: 1px solid #1f7097;
    border-collapse: collapse; 
}
/*END OF SCHEDULE SETTINGS */


/* RESOURCE SETTINGS */
.box {
    background-color: white;
}

h3 {
    background-color: #8bc6b0;
    font-size: 110%;
    font-weight: normal; 
}

.box a {
    color: #3d3a37; 
}

.box a:hover {
    color: #e2764a;
}
/* END OF RESOURCE SETTINGS */


/* FORM SETTINGS */
form { 
    background-color: white; 
}

label {
    vertical-align: top;
}

#submit {
    background-color: #e2764a;
}
/* END OF FORM SETTINGS */


/* FAQ SETTINGS */
#questions h3 {
    background-color: #eeeceb; /* can also be background-color: transparent */
}

#questions a {
    color: #3d3a37; 
}
#questions a:hover {
    color: #e2764a;
}
/* END OF FAQ SETTINGS */