
* {
    marign: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    background-color:red;
    padding: 5px 60px; 
    background-image: url(images/Tony.png), url(images/Redbackground.jpg);  /* First image in the list will be the one that appears on top */
    /* background-repeat: repeat-x; will repeat the image only on the x-axis; There will be one row of the image -- If we did repeat-y there would be one column of the image */
    background-repeat: no-repeat, repeat;   /* No repeat will work for the Tony picture; Repeat goes for the red background */
    background-attachment : fixed;  /* Keeps same position on window; only affects non repeating images */
    background-position: left bottom;  
}

header {
    text-align: center;
}

nav {
    font-size: 150%;
    padding-right: 20px; 
    font-weight: bold; 
    color: white; 
}

nav li {
    display: inline-block; 
    text-align: center;
    margin: 10px 15px; 
}

h1 {
    font-size: 300%;
    text-shadow: 4px 4px #D95204;
    color: white;
}

h2 {
    font-size: 200%;
}

h3 {
    font-weight: bold;
    color: green;
}

.ingredients  {
    width: 225px; 
    line-height: 20px;
    float: left;
}

.ingredients+p {
    clear: left;
}

input {
    border-style: outset;
    color: green;
}

input:focus {
    border-style: inset;
}


.main {
    background-color: burlywood;
    border-radius: 15px; 
    padding: 20px; 
    margin: 20px 100px;
    border: 1px solid black; 
}


.instructions {
    width: 200px; 
    line-height: 1.6; 
    border: 2px solid black; 
    border-radius: 15px; 
    margin: 0 10px; 
    background-color: white;
    float: right;
    padding: 10px 20px; 
}


/* Start Table Stylings */
#pizzaTable tr:nth-child(4), #pizzaTable tr:nth-child(6) {
    background-color:rgba(255,255,255,0.2);
}

#pizzaTable tr:nth-child(3), #pizzaTable tr:nth-child(5) {
    background-color:rgba(217,82,4,0.2);
}

table {
    margin-bottom: 10px;
    font-size: 110%;
}

th {
    color: green; 
    text-align: left;
    /* border-bottom: steelblue; */
    font-size: 150%;
}

td {
    width: 150px; 
}
/* End Table Stylings */

/* Form Stylings */
#Submit {
    color: white;
    background-color: #D95204; 
    border-color: white;
    margin: 8px; 
    padding: 8px; 
    font-weight: bold;
}

fieldset {
    border: 1px black solid;
    border-radius: 15px; 
    padding: 10px 20px 20px;
    margin: 15px 5px; 
    background-image: url(images/pizza.png);
    background-repeat: no-repeat; 
    /* background-size: contain; */
    background-position: bottom right; 
    background-origin: content-box; 
    width: 95%; 
    line-height: 30px;
}

legend {
    font-size: 120%;
    color: white;
    background-color: rgb(223, 6, 6);
    text-shadow:2px 0 black;
    margin: 5px; 
    padding: 2px 30px 2px 7px; 
    font-weight: bold;
    border-radius: 5px;
}
/* End Form Stylings */
