* {
    margin: 0;
    padding: 0;                                                                                       
}

body {
    font-family:'Trebuchet MS', sans-serif; 
    font-size: 12pt; 
    line-height: 150%;
}

header {
    background-color: rgb(220,220,220);
    box-shadow: 2px 2px 8px black;
}

nav {
    color: rgb(100, 100, 100); 
    font-size: 125%;
}

nav li, footer li {
    display: inline-block;
}

nav a, footer a {
    text-decoration: none; 
    color: rgb(100, 100, 100); 

}

footer {
    background-color: rgb(220,220,220);
    /* border: 2px #13294b;  */
    text-align: center;
    border-top: 2px solid #13294b; 
}

footer li {
    margin: 20px;
}


#hinkBox {
    margin: 40px auto 40px auto;
    width: 80%;
}

h1, h2, h3 {
    margin: 15px 0;
}

p {
    margin: 6px; 
}


/* Table Settings */
tr:first-child th{
    background-color: #13294b; 
    color: white; 
}

tr:nth-child(2) th {
    background-color: rgb(220, 220, 220);
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50%;     /* These next couple lines make the table responsive */
    min-width: 400px; 
    max-width: 700px; 
}
td, th {
    border: 1px solid black;
    padding: 5px;
    vertical-align: top; 
}

/* End Table Settings */


/* Form Settings */
form {
    border: 2px solid #13294b; 
    background-color: rgb(220, 220, 220);
    width: 75%; 
    max-width: 600px; 
    padding: 20px;
    margin: 40px; 
}

#submit {
    background-color: #13294b;
    color: white; 
    padding: 3px 6px; 
}
/* End Form Settings */