* {
    margin: 0;
    padding: 0;
    border-width: 2px;                                                                                            
}

body {
    font-family:'Trebuchet MS', sans-serif; 
    font-size: 12pt; 
    line-height: 150%;
}

header {
    background-color: rgb(220,220,220);
    box-shadow: 2px 2px 8px black;
}

nav {
    color: rgb(100, 100, 100); 
    font-size: 125%;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none; 
    color: rgb(100, 100, 100); 

}

footer {
    margin: 20px;
}

#hinkBox {
    margin: 40px 0 auto;
    width: 80%;
}

h1, h2, h3 {
    margin: 15px 0;
}